html {
  /*background-color: #F3F3F3;*/
}

body {
  margin: 0;
}

.container {
  padding: 0 !important;
  margin: 0 !important;
}

.passengerHeader {
  width: 750px !important;
  margin: 0 auto !important;
}

.passengerHeaderWrapper {
  padding: 0;
}

.passengerFilter {
  background-color: #08B63D;
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding: 10px;
}

.cell-logo {
  -webkit-box-flex: 0 0 44px !important;
  -webkit-flex: 0 0 44px !important;
  -ms-flex: 0 0 44px !important;
  flex: 0 0 44px !important;
}

.ps-cellInput {
  padding: 0 !important;
  /*flex: 0 0 80% !important;*/
  /*max-width: 80% !important;*/
}

.passengerFilter-cell {
  /*margin: 10px !important;*/
  padding: 0 !important;
}

.passengerFilter-cell .form-group {
  margin-left: 0;
  margin-right: 0;
}

.cell-title a {
  color: #000;
  text-decoration: none;
  border-bottom: none;
}

.cell-title a:focus,
.cell-title a:hover {
  color: #000;
}

.ps-donate {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: right;
}

label.ps-cellLabel {
  padding-left: 0;
  padding-right: 10px;
  color: white;
  font-weight: 500;
}

@media (max-width: 750px) {
  /* Fix ReactWidget Bug where bottom border doesn't show */
  .rw-widget {
    padding-bottom: 1px;
    margin-bottom: -1px;
  }

  .passengerContent {
    /*max-width: 50em;*/
    /*margin: 0 auto;*/
  }

  .trainTime {

  }

  .untilTime {
  }

  .travelTime {
    color: #909298;
  }

  .passengerFilterContainer {
    margin-bottom: 10px;
    /*border-bottom: #808080 1px solid;*/
  }

  .passenger-logo {
    width: 24pt;
    height: 24pt;
    border-radius: .1em;
    position: relative;
    bottom: -7%;
    content: url("/src/static/images/Icon-60@3x.png");
  }

  .ps-filterCell-swap {
    -webkit-box-flex: 0 0 60px !important;
    -webkit-flex: 0 0 60px !important;
    -ms-flex: 0 0 60px !important;
    flex: 0 0 60px !important;
  }

  .cell-title {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    padding-left: 10px;
  }

  .ps-centerText {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }

  .ps-cellLabel {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: right;
    padding-right: 10px;

    -webkit-box-flex: 0 0 60px !important;
    -webkit-flex: 0 0 60px !important;
    -ms-flex: 0 0 60px !important;
    flex: 0 0 60px !important;
  }

  .passengerTitle {
    background-color: white;
    height: 66px;

    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .passengerFilter > div {
    /*background-color: white;*/
    border-radius: 10px;
    /*margin: 10px 10px 10px 0;*/
  }

  .passengerFilter-cell > div {
    padding: 10px;
    width: 100%;
  }

  .passengerFilter > div:first-child {
    /*margin: 10px;*/
  }

  .passengerFilter > div:nth-child(2) {
  }

  .passengerFilterStationContainer {
  }

  .passengerFilterStationContainer > div {
  }

  .passengerTimetableContainer {
    position: relative;
    /*padding-top: 166px;*/
    width: 750px !important;
    margin: 0 auto;
    background-color: white;
  }

  .routeEventPairTable > tr {
    height: 44px;
  }

  .routeEventPairTableContainer {
    /*padding-left: 22px;*/
  }

  .routeEventPairTable {
    border-collapse: collapse;
    width: 100%;
  }

  .routeEventPairTable > tr > td {
    padding: 10px 0; /* 10px top & bottom padding, 0px left & right */
  }

  .routeEventPairTable > tr {
    /* top border only */
    /*border-top: 1px #606162 solid;*/
  }

  .routeEventPairTable > tr:first-child {
    border-top: none;
  }

  .tableContainer > div:first-child {
    text-align: center;
    /*border-bottom: 1px #606162 solid;*/
  }

  .tableContainer > div:last-child {
    text-align: center;
    /*border-top: 1px #606162 solid;*/
  }
}

@media (min-width: 750px) {
  /* Fix ReactWidget Bug where bottom border doesn't show */
  .rw-widget {
    padding-bottom: 1px;
    margin-bottom: -1px;
  }

  .passengerContent {
    /*max-width: 50em;*/
    /*margin: 0 auto;*/
  }

  .trainTime {

  }

  .untilTime {
  }

  .travelTime {
    color: #909298;
  }

  .passengerFilterContainer {
    margin-bottom: 10px;
    /*border-bottom: #808080 1px solid;*/
  }

  .passenger-logo {
    width: 24pt;
    height: 24pt;
    border-radius: .1em;
    position: relative;
    bottom: -7%;
    content: url("/src/static/images/Icon-60@3x.png");
  }

  .ps-filterCell-swap {
    -webkit-box-flex: 0 0 60px !important;
    -webkit-flex: 0 0 60px !important;
    -ms-flex: 0 0 60px !important;
    flex: 0 0 60px !important;
  }

  .cell-title {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    padding-left: 10px;
  }

  .ps-centerText {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }

  .ps-cellLabel {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: right;
    padding-right: 10px;

    -webkit-box-flex: 0 0 60px !important;
    -webkit-flex: 0 0 60px !important;
    -ms-flex: 0 0 60px !important;
    flex: 0 0 60px !important;
  }

  .passengerTitle {
    background-color: white;
    height: 66px;

    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .passengerFilter > div {
    /*background-color: white;*/
    border-radius: 10px;
    /*margin: 10px 10px 10px 0;*/
  }

  .passengerFilter-cell > div {
    padding: 10px;
    width: 100%;
  }

  .passengerFilter > div:first-child {
    /*margin: 10px;*/
  }

  .passengerFilter > div:nth-child(2) {
  }

  .passengerFilterStationContainer {
  }

  .passengerFilterStationContainer > div {
  }

  .passengerTimetableContainer {
    position: relative;
    /*padding-top: 166px;*/
    width: 750px !important;
    margin: 0 auto;
    background-color: white;
  }

  .routeEventPairTable > tr {
    height: 44px;
  }

  .routeEventPairTableContainer {
    /*padding-left: 22px;*/
  }

  .routeEventPairTable {
    border-collapse: collapse;
    width: 100%;
  }

  .routeEventPairTable > tr > td {
    padding: 10px 0; /* 10px top & bottom padding, 0px left & right */
  }

  .routeEventPairTable > tr {
    /* top border only */
    /*border-top: 1px #606162 solid;*/
  }

  .routeEventPairTable > tr:first-child {
    border-top: none;
  }

  .tableContainer > div:first-child {
    text-align: center;
    /*border-bottom: 1px #606162 solid;*/
  }

  .tableContainer > div:last-child {
    text-align: center;
    /*border-top: 1px #606162 solid;*/
  }

}

